.wrapper > div {
    float: left;
    width: 200px;
    text-align: center;
}
div.about {
    float: left;
    width: 600px;
    text-align: center;
}

.about > div {
    float: left;
    width: 200px;
    text-align: center;
}
.wrapper{
    width: 1200px;
}

.header{
    font-weight: bold;
}

input{
    display: block;
}

input[type="radio"]{
    display: inline;
}

input[type="submit"]{
    display: inline;
}
form{
    display: inline;

}
div.login {
    float: left;
    text-align: center;
    width: 200px;
}

.clear{
    clear: both;
}

.footer,.header{
    text-align: center;
}